<form class="main__wrapper">
  <LinkTo @route='index' class="link__back">Back to developers</LinkTo>
  <div class="hire__row">
    <label for="firstName" class="hire__label">
      First Name
      <input class="input" type="text" id="firstName" placeholder="firstName" required value="value">
    </label>
  </div>
  <div class="hire__row">
    <label for="lastName" class="hire__label">
      Last Name
      <input class="input" type="text" id="lastName" placeholder="lastName" required value="value">
    </label>
  </div>
  <div class="hire__row">
    <label for="role" class="hire__label">
      Role
      <select  class="input" id="role" placeholder="role" required>
        <option value="frontend" selected>frontend</option>
        <option value="backend">backend</option>
        <option value="fullstack">fullstack</option>
      </select>
    </label>
  </div>
  <div class="hire__row">
    <label for="firstName" class="hire__label">
      Framework
      <Tags class="input" @value="'value'"/>
    </label>
  </div>
  <hr>
  <div class="edit__block--button">
    <button type="button" class="button success">Save</button>
    <button type="button" class="button error">Fire</button>
  </div>
</form>
