<div class="main__wrapper">
  <div class="filters">
    <Input class="filter__input" type="text" placeholder="Filter by role" />
    <Input class="filter__input" type="text" placeholder="Filter by framework" />
  </div>
  <PeopleList @title="List of People" @people={{@model}}></PeopleList>
</div>